<link rel="stylesheet" href="ingredients.scss">

<p><%= "#{ingredient.name} #{ingredient.qty} #{ingredient.unit}" %>
<%= link_to "Delete", recipe_ingredient_path(@recipe, ingredient.id), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-outline-success" %>
<% if ingredient.shopping == false%>
    <%= link_to "Add to Shopping List", shopping_toggle_recipe_ingredient_path(@recipe, ingredient.id),method: :patch, :class => "btn btn-outline-success" %>
<% else %>
    <%= link_to "Remove from Shopping List", shopping_toggle_recipe_ingredient_path(@recipe, ingredient.id),method: :patch, :class => "btn btn-outline-success" %>
<%end%>    
</p>




